html {
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

.hero {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    top: 3rem;
    z-index: 9;
}

.hero h1 {
    padding: 0 2rem;
    line-height: normal;
}

.hero h2 {
    padding: 0 2rem;
    line-height: normal;
}

.highlight {
    background-color: var(--clr-background);
}

.details {
    padding: 3rem 2rem;
}

.details h3{
    margin-bottom: 1rem;
}

.column-1 {
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.detail-figure {
    display: inline-block;
    outline-width: 0.125rem;
    outline-color: var(--clr-border);
    outline-style: solid;
    background-color: var(--clr-background);
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}
.detail-img {
    width:50%;
    height: auto;
}

.detail-img img {
    width:100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0 0;
}

figcaption {
    padding: 0.5rem;
}

.portrait-img{
    width: 25%;
    height: auto;
}

.portrait-img img {
    width:100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0 0;
}

.square-img {
    width: 30%;
    height: auto;
}

.square-img img {
    width:100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0 0;
}

.text-container {
    max-width:48rem;
    outline-width: 0.125rem;
    transition: all 0.3s ease;
    margin: 2rem;
}

@media (max-aspect-ratio:1/1.20){

    .text-container {
        width: 95%;
    }

    .detail-img,
    .square-img {
        width: 95%;
    }

    .portrait-img {
        width: 70%;
    }
}

/* When below a number of rem, reduce text to major second*/
@media (width < 64.5rem) or (height < 35rem) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.812rem;
    }
    
    h3 {
        font-size: 1.625rem;
    }
    
    h4 {
        font-size: 1.438rem;
    }
    
    h5 {
        font-size: 1.250rem;
    }

    h6 {
        font-size: 1.125rem;
    }

    .sticky {
        /* https://www.w3schools.com/css/css_positioning.asp */
        position: static;
        
    }
}

/* CSS Provided by the project: Lead programmer Max Nielson*/
/* -- Section Alignment -- */
.map {
    position: relative;
    display: inline-block;
    margin-top: 0;
    z-index: -1;
    max-width: 100%;
    height: auto;
}

#map {
position: relative;
display: flex;
line-height: 0;
}

picture {
position: relative;
display: contents;
width: 100%;
}

/* -- Activity Icons -- */
/* animation */
.activity-icon {
    -webkit-animation: mover 3s infinite alternate;
    animation: mover 1s infinite alternate;
    position: absolute;
    display: inline-block;
}
  
@-webkit-keyframes mover {
0% {
    transform: translateY(0);
}

100% {
    transform: translateY(-15px);
}
}

@keyframes mover {
0% {
    transform: translateY(0);
}

100% {
    transform: translateY(-15px);
}
}

/* icon sizing */
.box {
    max-width: 12vw;
}

#parade,
#stage {
    max-width: 20vw;
    min-width: 20vw;
}

/* -- Mobile Icon Positioning -- */
@media screen and (max-aspect-ratio:7/10) {
    .box {
        max-width: 20vw;
    }

    #parade,
    #stage {
        max-width: 30vw;
        min-width: 30vw;
    }

    .ice-canoeing-icon {
        top: calc((10vw * (844/195)) - 8.75rem + 12rem);
        right: 8vw;
    }

    .dog-sledding-icon {
        top: calc((20vw * (844/195)) - 8.75rem + 12rem);
        right: 14vw;
    }

    .parade-icon {
        top: calc((31vw * (844/195)) - 8.75rem + 12rem);
        right: 28vw;
    }

    .parade-icon img {
        transform: rotate(20deg);
    }

    .canadian-food-icon {
        top: calc((17vw * (844/195)) - 8.75rem + 12rem);
        right: 59vw;
    }

    .canadian-food-icon img {
        transform: rotate(340deg);
    }

    .ice-palace-icon {
        top: calc((22vw * (844/195)) - 8.75rem + 12rem);
        right: 42vw;
    }

    .concert-icon {
        top: calc((35vw * (844/195)) - 8.75rem + 12rem);
        right: 55vw;
    }
}
  
/* -- Mobile Icon Positioning ENDS -- */

/* -- Tablet Icon Positioning -- */
@media screen and ((min-aspect-ratio:7/10) and (max-aspect-ratio:177/125)) {
.box {
    max-width: 20vw;
}

#parade,
#stage {
    max-width: 30vw;
    min-width: 30vw;
}

.ice-canoeing-icon {
    top: calc(68vw - 8.75rem + 10.2rem);
    right: 10vw;
}

.dog-sledding-icon {
    top: calc(24vw - 8.75rem + 10.2rem);
    right: 50vw;
}

.parade-icon {
    top: calc(58vw - 8.75rem + 10.2rem);
    right: 33vw;
}

.canadian-food-icon {
    top: calc(40vw - 8.75rem + 10.2rem);
    right: 67vw;
}

.ice-palace-icon {
    top: calc(29vw - 8.75rem + 10.2rem);
    right: 8vw;
}

.concert-icon {
    top: calc(39vw - 8.75rem + 10.2rem);
    right: 33vw;
}
}

/* -- Tablet Icon Positioning ENDS -- */

/* -- Desktop Icon Positioning -- */
@media screen and (min-aspect-ratio:177/125) {
.ice-canoeing-icon {
    top: calc((26vw * (9/16)) - 8.75rem + 10.2rem);
    right: 10vw;
}

.dog-sledding-icon {
    top: calc((30vw * (9/16)) - 8.75rem + 10.2rem);
    right: 58vw;
}

.parade-icon {
    top: calc((48vw * (9/16)) - 8.75rem + 10.2rem);
    right: 55vw;
}

.canadian-food-icon {
    top: calc((29vw * (9/16)) - 8.75rem + 10.2rem);
    right: 40vw;
}

.ice-palace-icon {
    top: calc((48vw * (9/16)) - 8.75rem + 10.2rem);
    right: 25vw;
}

.concert-icon {
    top: calc((59vw * (9/16)) - 8.75rem + 10.2rem);
    right: 38vw;
}
}

/* -- Desktop Icon Positioning ENDS -- */

/* -- Activity Icon Hovering Effect -- */
@media (hover: hover) {
    .dog-sledding-icon:hover img, .dog-sledding-icon:focus img{
        background-repeat: no-repeat;
        content: url("../img/projects/quebec-carnival/map-icons/hover-dog-sledding-icon.png");
    }

    .ice-canoeing-icon:hover img, .ice-canoeing-icon:focus img {
        background-repeat: no-repeat;
        content: url("../img/projects/quebec-carnival/map-icons/hover-ice-canoeing-icon.png");
    }

    .parade-icon:hover img, .parade-icon:focus img{
        background-repeat: no-repeat;
        content: url("../img/projects/quebec-carnival/map-icons/hover-parade-icon.png");
    }

    .canadian-food-icon:hover img, .canadian-food-icon:focus img {
        background-repeat: no-repeat;
        content: url("../img/projects/quebec-carnival/map-icons/hover-canadian-food-icon.png");
    }

    .ice-palace-icon:hover img, .ice-palace-icon:focus img {
        background-repeat: no-repeat;
        content: url("../img/projects/quebec-carnival/map-icons/hover-ice-palace-icon.png");
    }

    .concert-icon:hover img, .concert-icon:focus img{
        background-repeat: no-repeat;
        content: url("../img/projects/quebec-carnival/map-icons/hover-concert-icon.png");
    }
}
/* End of CSS Provided by the project: Lead programmer Max Nielson*/